/* Background image for the search page - Dre */
.hero-1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("https://images.unsplash.com/photo-1575000977355-8b2a719926c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: black;
    min-height:100vh;
    height: auto;
}
/* Add padding to the previously viewed recipes - Dre*/
.pt-5 {
    padding: 20px;
}
/* background image landing page - Dre */
.hero {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("https://images.unsplash.com/photo-1495461199391-8c39ab674295?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: black;
    height:100vh;
}
/* Lower the padding around the search bar - Dre */
.box {
    padding: 0.0rem;
}
/* Fill out the images inside the card */
.px-6 {
    padding-left: 0rem!important;
    padding-right: 0rem!important;
    padding-bottom: -2rem;
}
/* Change the padding of the card */
.custom-card-content {
    background-color: transparent;
    padding: 2.9rem;
}
/* Fill out all of the margins */
.custom-card-footer {
    background-color: transparent;
    border-top: 0px solid #ededed;
    align-items: stretch;
    display: flex;
}

/* Makes images in recipe cards fit fully despite graphics. */
.recipe-img{
    width:100%;
    height: auto;
    object-fit: contain;
}


@keyframes fade-in {
    from {
        opacity:0;
        transform: scale(70%);
    }
    to {
        opacity:1;
        transform: scale(100%);
    }
  }

.recipe-card{
    position: relative;
    animation-name: fade-in;
    animation-duration: 0.5s;
}